@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Web Programming 3</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Learn about Entity Framework Core ORM.</p>
    <p>Learn about ASP.NET Core Web APIs.</p>
    <p>Learn about Microservices in .NET.</p>
    <p>Webpage created by Rita Youssef - 2124602</p>
</div>
